<div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
        <h2>Logo</h2>
        <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp">
        <h4>Menu —</h4>
        <div class="col-md-6">
            <ul class="pages">
                <li><a href="{{ url_for('categories', category='fresh-fruits') }}">Fresh Fruits</a></li>
                <li><a href="{{ url_for('categories', category='fresh-vegetables') }}">Fresh Vegetables</a></li>
                <li><a href="{{ url_for('categories', category='herbs-seasonings') }}">Herbs & Seasonings</a></li>
                <li><a href="{{ url_for('categories', category='dairy') }}">Dairy</a></li>
                <li><a href="{{ url_for('categories', category='bread-buns') }}">Bread & Buns</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="pages">
                <li><a href="{{ url_for('categories', category='cheese') }}">Cheese</a></li>
                <li><a href="{{ url_for('categories', category='biscuits-cookies') }}">Biscuits & Cookies</a></li>
                <li><a href="{{ url_for('categories', category='namkeens') }}">Namkeens</a></li>
                <li><a href="{{ url_for('categories', category='chocolates') }}">Chocolates</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2 footer-nav footer-social animated fadeInDown">
        <h4>Links -</h4>
        <ul class="list">
            <li><a href="{{ url_for('about') }}">About Us</a>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="col-md-2 footer-nav footer-social animated fadeInDown">
        <h4>Follow Us</h4>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">RSS</a></li>
        </ul>
    </div>
</div>